* {
  font-family: "Nunito Sans", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --star-color: #E99A16;
}

body {
  background-color: var(--bg_body);
  color: var(--body-text);
}

.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.website-title {
  color: var(--brand-primary);
  font-weight: 700;
}

#first-line {
  color: var(--brand-secondary);
  font-size: 1.2rem;
  font-weight: 700;
}
#second-line {
  color: var(--body-text);
  font-size: 0.9rem;
}
header > nav {
  background-color: var(--bg_default);
  display: flex;
  justify-content: center;
}

.top-nav{
  flex-grow: 1;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}

.right-buttons{
  display: flex;
  gap: 1vh;
}

.dark-mode-button,
.favourites-button {
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1.5px solid var(--lines-color);
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem; 
  gap: 0.3rem;
}

.triangles {
  position: relative;
  height: 3vh;
}

.right-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: clamp(4vh, 5.5vw, 7vh) clamp(50vw, 90vw, 100vw) 0px 0px;
  border-color: var(--brand-primary) transparent transparent transparent;
  z-index: 1;
  left: 0;
}

.left-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0px clamp(50vw, 90vw, 100vw) clamp(4vh, 5.5vw, 7vh) 0px;
  border-color: transparent var(--brand-secondary) transparent;
  right: 0;
}
.container {
  background-color: var(--bg_default);
  padding-bottom: 1%;
}

.welcome-container{
  display: flex;
  justify-content: center;
}

.welcome-msg {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.search-bar-container {
  display: flex;
  border: solid 1px var(--lines-color);
  background-color: var(--bg_default);
  border-radius: 9px;
  box-shadow: 1px 1px 5px 0.5px var(--lines-color);
}

.search-bar {
  flex-grow: 6;
  display: flex;
  align-items: center;
  padding-left: 0.9rem;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem;
  border: 0;
  font-size: 1rem;
}

.search-input::placeholder {
  font-weight: 700;
}

.sorting-preference,
.filtering-preference {
  flex-grow: 1;
  border-style: solid;
  border-color: var(--lines-color);
  border-width: 0px 0px 0px 0.1px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.sort-column{
  display: flex;
  flex-direction: column;
}

.sorting-preference label,
.filtering-preference label {
  font-size: 0.7rem;
}

.sorting-preference select,
.filtering-preference select {
  border: none;
  appearance: none;
}

.sorting-preference ion-icon,
.filtering-preference ion-icon {
  align-self: flex-end;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1rem 3rem;
  flex-grow: 1;
  max-width: 1440px;
  align-self: center;
}

.search-result {
  font-weight: 700;
  font-size: 1.5rem;
}

.topics-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.topic-card{
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 290px;
  box-shadow: 1px 1px 5px var(--lines-color);
  background-color: var(--bg_default);
  border-radius: 6px;
}

.card-image{
  height: 50%;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details{
  padding: 6%;
}

.topic-type{
  font-size: 0.9rem;
}

.topic-title{
  font-weight: 700;
}

.topic-rating{
  display: flex;
  padding: 10% 0 5% 0;
}

.topic-rating ion-icon {
  color: var(--star-color);
}

.author-name{
  color: var(--body-text);
}

footer ion-icon {
  color: var(--heart-color);
  font-size: 23px;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}

@media (max-width: 768px) {
  nav .btn-text {
    display: none;
  }
  ion-icon {
    font-size: 20px;
  }
  .search-bar-container{
    flex-wrap: wrap;
  }
  .topics-container{
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 536px) {
  .search-bar{
    border-bottom: solid 0.1px var(--lines-color);
  }
  .sorting-preference{
    border-bottom: solid 0.1px var(--lines-color);
  }
  }